      
body{
    color: grey;
}

 p {
    color: white;
	text-align: left;
    font-size: 24px;
    font: arial;
}

h1 {
     color: white;
     border: solid white;
	 text-align: left;
     font: arial;
}